:root {
 --scroll-height: 25px;
}


section {
    font-size: 1.5rem;
    margin-inline: auto;
    padding-block: var(--scroll-height);
    width: min(60ch, 100%);
   }

img {
    max-width: 100%;
    animation: reveal 1ms ease-in-out both;
    animation-timeline:  view();
    animation-range: entry 25% cover 50%;
}

/* aplicando animação para os paágrafos
p {
    animation: appear 1ms ease-in-out;
    animation-timeline: view();          
    animation-range: cover 0% cover 50%;  
} */

.c-indicator{
    animation: scroll 1ms ease-in-out;
    animation-timeline: scroll(root);
    background-color: tomato;
    transform-origin: left;
    height: var(--scroll-height);
    inset: 0;
    position: fixed;
}

/* aplicando animação para os paágrafos
@keyframes appear {
    from {                                
        opacity: 0;
        translate: -100vw 0;
    }

    to {                                  
        opacity: 1;                        
        translate: 0 0;
    }
} */

@keyframes scroll {
    from {                                
        scale: 0 1;
    }

    to {                                
        scale: 1 1;
    }
}

@keyframes reveal {
    from {                            
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {                          
        opacity: 1;                        
        clip-path: inset(0% 0% 0% 0%);
    }
}

